<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

  <body>
    <%- include('partials/header') %>
      <main>
        <div class="table--container">
          <h1 class="title-table">Administrador de Productos</h1>
          <a href="/products/add" class="btn btn-outline-primary mt-4 button-agregar"><i class='bx bxs-plus-circle bx-md' ></i></a>
          <table class="table table-bordered table-striped text-center mt-4  small-table table-shadow">
            <thead class="thead-dark">

              <tr class="bg-primary text-white">
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Marca</th>
                <th scope="col">Precio</th>
                <th scope="col">Categoria</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <% products.forEach(producto=> { %>
                <tr>
                  <td>
                    <%= producto.id %>
                  </td>
                  <td>
                    <%= producto.name %>
                  </td>
                  <td>
                    <%= producto.marca %>
                  </td>
                  <td>
                    <%= producto.price %>
                  </td>
                  <td>
                    <%= producto.category %>
                  </td>
                  <td>
                    <%= producto.description %>
                  </td>

                  <td>
                    <a href="/products/edit/<%= producto.id %>" class="btn btn-outline-primary btn-sm btn-action">EDITAR</a>
                    <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
                      data-bs-target="#deleteModalProducts<%= producto.id %>"> Eliminar</button>
                    <%- include('partials/modalDelete', { id: producto.id, name: producto.name }) %>
                  </td>
                </tr>
                <% }); %>
            </tbody>
          </table>
        </div>
      </main>
      <%- include('partials/footer') %>
  </body>

</html>