<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <main>
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            
              
    <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Volver al Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/brands/add">Nueva Marca</a>
        </li>
      
    </ul>
        </div>
     
    </nav>
        
          <h1 class="title-table">Administrador de Marcas</h1>
          <br>
       

      <div class="brand_table--container">
        <div class="brand_table--container_col col-12 col-md-6 mx-auto mt-3">
        <div class="card">
          <div class="brand_card-header d-flex align-items-center justify-content-between">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <div>
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/">Inicio</a></li>
                  
                    <li class="breadcrumb-item active" aria-current="page" > Marcas </></li> 
                    
                </ol>
              </div>
            </nav>
          </div>
          
        <table class="table">
          
          <thead class="thead-dark">

            <tr class="bg-primary text-white">
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
              <th scope="col">Imagen</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
      <tbody>
        <% brands.forEach(brand=> { %>
          <tr>
            <td>
              <%= brand.id %>
            </td>
            <td>
              <%= brand.name %>
            </td>
            <td>
              <img src="/images/brands/<%= brand.image %>" class="img-fluid" alt="" width="150" >
            </td>           
        <td>
          <a href="/brands/edit/ <%= brand.id%> " class="btn btn-outline-primary btn-sm btn-action">EDITAR</a>
          <form action="/brands/remove <%= brand.id%>?_method=DELETE" method="POST">
            <button class="btn btn-outline-danger">
              Eliminar producto
          </button>


        </form>
      </td>
    </tr>
    <% }); %>
    </tbody>            

      </table>
    </div>   
    </main>
    <%- include('partials/footer') %>
</body>
</html>
