<DOCTYPE html>
  <html lang="es">
  <%- include('partials/head') %>

    <body class="home">

      <%- include('partials/header') %>

      <!-- <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
           <img src="/images/modal/Modal-Navidad.png" alt="">
        </div>
    </div> -->

        <main class="home__main">
          <div class="hero-image">
            <img class="banner" src="/images/banner.png" alt="">
            <div class="hero-text">
              <h1>Todavia sirve</h1>
              <p>Todo lo que buscas en nuevos y usados!</p>
              <button>
                <p> <a href="/products/add">Publicar</a></p>
              </button>
              
            </div>
            <div class="publi">
              <img class="publi_img" src="/images/publi.webp" alt="" style="height: 200px;" width="1700px" >

            </div>
          </div>

          <div class="card-container_home" >
            <% products.forEach(producto=> { %>
              <div class="card_home">
                <a href="/products/detail/<%= producto.id %>">
                  <% if (producto.images && producto.images.length> 0) { %>
                    <img src="/images/productos/<%= producto.images[0].name %>" alt="">
                    <% } else { %>
                      <p>No image available</p>
                      <% } %>
                </a>
                <div class="card-content_home">
                  <p class="card-name">
                    <%= producto.name %>
                  </p>
                  <p class="price"><b>$<%= producto.price.toLocaleString('es-ES') %>
                  </b></p>
                  <p class="card-descripcion">
                    <%= producto.description %>
                  </p>
                </div>
              </div>
              <% }); %>
          </div>

        </main>
        <%- include('partials/footer') %>

          <!-- JS SWIPER -->
          <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
          <!-- Por fallos en la importación, decidí incluir el script de swiper completo -->
          <script>
            var swiper = new Swiper(".mySwiper", {
              slidesPerView: 1,
              spaceBetween: 30,
              loop: true,
              autoplay: {
                delay: 2500,
                disableOnInteraction: false,
              },
              pagination: {
                el: ".swiper-pagination",
                clickable: true,
              },
              navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
              },
            });
          </script>
    </body>

  </html>