<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
    <!--<div class="login-error">
        <% if (errors && errors.length > 0) { %>
            <div class="alert alert-danger">
                <ul>
                    <% errors.forEach(error => { %>
                        <li><%= error.msg %></li>
                    <% }); %>
                </ul>
            </div>
        <% } %>
    </div>-->
    <main class="login--main">
        <div class="login__main--box">
            <div class="login__main__box--title">
                <h2>Ingresá</h2>
            </div>
            <div class="login__main__box--formbox">
                <form class="login__main__box__formbox--form" action="/users/login" method="POST">
                    <div class="login__main__box__formbox--campobox">
                        <label>
                            <input class="form-control" type="email" name="email" id="email"
                                placeholder="Correo electrónico">
                        </label>
                        <small class="text-danger ms-2" id="msgError-email">
                            <%= locals.errors && (errors.email && errors.email.msg) %>
                        </small>
                    </div>
                    <div class="login__main__box__formbox--campobox">
                        <label>
                            <input class="form-control" type="password" name="password" id="password"
                                placeholder="Contraseña">
                        </label>
                        <small class="text-danger ms-2" id="msgError-password">
                            <%= locals.errors && (errors.password && errors.password.msg) %>
                        </small>
                    </div>
                    <div>
                        <div class="login__main__box__formbox--form-check">
                            <input class="form-check-input" type="checkbox" value="" id="remember" name="remember">
                            <label class="form-check-label" for="remember">Recordarme</label>
                        </div>
                        <div class="login__main__box__formbox--buttonbox">
                            <a href="/users/register">
                                <button class="login__main__box__formbox--button2" type="button">Crear cuenta</button>
                            </a>
                            <button class="login__main__box__formbox--button" type="submit">Ingresar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/login.js"></script>
</body>
</html>

