<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <main class="editProduct__main">
    
      <form class="editProduct__main__form" action="/products/update/<%= id %>?_method=PUT" method="POST" enctype="multipart/form-data">
        <h3 class="editProduct__main__form--titulo">Edición De Producto</h3>
        <div class="mb-3">
          <label for="">Nombre </label>
          <input
            type="text"
            class="form-control"
            id="name"
            placeholder="Nombre Del Producto"
            name="name"
            value="<%= products.name %>"
          />
          <br>
          <div class="input-group mb-3">
            <label class="input-group-text" for="brandId"
              >Marca</label>
            <select class="form-select form-select-sm" aria-label="Default select example" name="brandId" id="brandId">
              <% brands.forEach(brand => { %>
                <option <%= brand.id === brandId && 'selected' %> value="<%= brand.id %>"><%= brand.name %></option>             
              <% }) %>
            </select>
          </div>

          <label for="" class="form-label">Precio</label>
          <input
            type="text"
            class="form-control"
            id="price"
            placeholder="Precio Del Producto"
            name="price"
            value="<%= products.price %>"
          />
        </div>

        <div class="mb-5">
          <label for="" class="form-label">Descripción</label>
          <textarea name="description" class="form-control" id="description" rows="3"><%= products.description %></textarea>
        </div>
        <div class="boxselect_categorias"></div>
        <div class="input-group mb-3">
          <label class="input-group-text" for="categoryId"
            >Categorias</label>
          <select class="form-select form-select-sm" aria-label="Default select example" name="categoryId" id="categoryId">
            <% categories.forEach(category => { %>
              <option <%= categories.id === categoryId && 'selected' %> value="<%= categories.id %>"><%= categories.name %></option>             
            <% }) %>
          </select>
        </div>
        <br />

        <hr>
        <div class="boximage_imgProduct">
          <label for="" class="form-label">Imágenes del producto</label>
          
          <div class="col-12 col-md-6 d-flex gap-1">
            <% images.forEach(image => { %>
             <img width="100px" src="/images/productos/<%= images.name %>" alt="">
            <% }) %>
          </div>
          
          <br>
          
          <div class="input-group mb-3 gap-2">
            <label class="btn btn-secondary" for="images">Cambiar imagenes</label>
            <input hidden class="form-control" type="file" id="images" name="images" multiple>
          </div>
        </div>
        <hr>

        <div class="boxbutton">
          <div>
            <a href="/">
              <button type="submit" class="guardar_Cambios">Guardar Cambios</button>
            </a>
          </div>
          <div>
            <button type="reset" class="Borrar">Borrar</button>
          </div>
        </div>
      </form>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </main>
     <%- include('partials/footer') %>  
  </body>
</html>
