<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body class="detail">
    <%- include('partials/header') %>

    <main class="product-detail__main">
      <div class="row">
        <div class="product-detail__main">
          <div class="product-detail__main-img">
            <div class="d-flex col-12 col-md-8">
              <div class="d-flex flex-column gap-1">
                <div class="product-detail__main-image-central">
                  <img
                    id="main-image"
                    src="/images/productos/<%= prodfind.images[0].name %>"
                    class="img-fluid rounded-top"
                    alt="..."
                    width="100%"
                    style="max-width: 70%"/>
                </div>
                <div class="d-flex product-detail__main-image">
                  <% for (let i=0; i < prodfind.images.length; i++) { %>
                  <img
                    src="/images/productos/<%= prodfind.images[i].name %>"
                    width="<%= i === 0 ? '30%' : (i === 1 ? '30%' : '30%') %>"
                    alt=""
                    onclick="document.getElementById('main-image').setAttribute('src','/images/productos/<%= prodfind.images[i].name %>')"
                  />
                  <% } %>
                </div>
              </div>
            </div>
          </div>
          <div class="product-detail__main-info col-12 col-md-4 justify-content-center">
            <article class="product-detail-info">
              <div class="product-detail__main-card-body">
                <div>
                  <h2 class="product-detail__main-card-title">
                    <%= prodfind.name %>
                  </h2>
                </div>
                <hr>
                <div>
                  <p class="product-detail__main-card-text">
                    <%= prodfind.description %>
                  </p>
                </div>
                <div class="product-detail__main-card-precio">
                    $ <%= prodfind.price %>
                 
                </div>
              </div>
            </article>
            
            <div class="product-detail-botones">
              <div class="product-detail__main-comprar-bt">
                <a href="/carrito">
                  <button class="product-detail__main-button  bg-black text-white" type="submit">Comprar</button>
                </a>
              </div>
              <div class="product-detail__main-añadir-bt">
                <a href="#" onclick="addItemToCart(1,'<%=prodfind.id%>')">
                  <button class="product-detail__main-button font-semibold rounded-md border">Añadir al carrito</button>
                </a>
              </div>
            </div>
          </div>
        </div>
     
      </div>

    </main>
    
    
      <hr>
      <h2>Productos relacionados</h2>
      <div class="card-product_related">
      <div class="card-container_detail" >
        <% relatedProducts.forEach(relatedProduct=> { %>
          <div class="card_detail">
            <a href="/products/detail/<%= relatedProduct.id %>">
              <% if (relatedProduct.images && relatedProduct.images.length> 0) { %>
                <img src="/images/productos/<%= relatedProduct.images[0].name %>" alt="">
                <% } else { %>
                  <p>No image available</p>
                  <% } %>
            </a>
            <div class="card-content_detail">
              <p class="card-name">
                <%= relatedProduct.name %>
              </p>
              <p class="price"><b>$<%= relatedProduct.price.toLocaleString('es-ES') %>
              </b></p>
              <p class="card-descripcion">
                <%= relatedProduct.description %>
              </p>
            </div>
          </div>
          <% }); %>
      </div>
    </div>

    <%- include('partials/footer') %>
    
    <script src="/js/productDetail.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script>

  </body>
</html>
