<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

    <body>
        <%- include('partials/header') %>
            <main class="newProduct__main">
                <form action="/products/add" method="POST" class="newProduct__main__form" enctype="multipart/form-data">
                    <h3 class="newProduct__main__form--title">Vende lo que quieras!</h3>
                    <br>
                    <div class="mb-3">
                        <label for=>Nombre del producto</label>
                        <input placeholder="Ingrese el nombre" class="form-control" type="text" name="name" id="name">

                        <label for="brand" class="form-label">Marca</label>
                        <input type="text" class="form-control" name="brand" placeholder="Ingrese la marca" id="brandId">

                        <label for="">Precio</label>    
                        <input placeholder="Ingrese el precio" type="number" name="price" id="price" class="form-control">

                        <label for="prodDescription" class="form-label">Breve descripción</label>
                            <textarea class="form-control" name="description" id="description" rows="3">Describa su producto</textarea>

                        <div class="boxselect_estadoProducto">
                            
                            
                                <span></span>
                            </div>

                            <section>
                                <label for="category" class="form-label">Categoría</label>
                                <select id="categoryId" name="category">
                                    <% categories.forEach(category => { %>
                                        <option value="<%= categories.name %>"><%= categories.name %></option>
                                    <% }); %>
                                </select>
                                
                            </section>
                            <div class="boximage_imgProduct">
                                <label for="" class="form-label">Imagen del producto</label>
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" multiple name="images" id="images" />
                                    <label class="input-group-text" for="images">Subir</label>
                                </div>
                            <div class="boxbutton">
                                <div>
                                    <a href="/">
                                        <button type="reset" class="Limpiar">Limpiar</button>
                                    </a>
                                </div>
                                <div>
                                    <a href="/">
                                        <button type="submit" class="Publicar">Publicar</button>
                                    </a>
                                </div>
                </form>
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
            </main>
            <%- include('partials/footer') %>
                <!-- Verificador mime Type de imagenes (Evita que se suba un PDF(por ejemplo)) -->
                <script>
                    fileField = document.querySelector("[name=images]");
                
                    fileField.addEventListener("change", (e) => {
                        const files = e.target.files;
                        for (let i = 0; i < files.length; i++) {
                            const fileExt = files[i].name.split(".").pop().toLowerCase();
                            const allowedExt = ["jpg", "jpeg", "png", "gif"];
                            if (!allowedExt.includes(fileExt)) {
                                fileField.classList.add("invalid");
                                fileField.classList.add("errorFormat");
                                fileField.nextElementSibling.innerText = "La extensión de el archivo no es válida";
                            } else {
                                fileField.classList.remove("invalid");
                                fileField.classList.remove("errorFormat");
                                fileField.nextElementSibling.innerText = "";
                            }
                        }
                    });
                </script>
                
    </body>

</html>