<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <main class="profile--main">
        <div class="profile__main--box">
            <div class="profile__main__box--title">
                <h2>Perfil de Usuario</h2>
            </div>
            <div class="profile__main__box--formbox">
                <form class="profile__main__box__formbox--form" action="/users/update?_method=PUT" method="post" enctype="multipart/form-data">

                    <div class="profile__main__box__formbox--image">
                        <img width="100px" src="/images/productos/userImages/<%= avatar || "Andres.jpg" %>" alt="Imagen de perfil">
                    </div>
                    <div class="profile__main__box__formbox--campobox">
                        <label for="name" class="form-label">Nombre</label>
                        <input class="form-control" type="text" name="name" id="name" value="<%= user.name %>">
                        <small class="text-danger ms-2" id="msgError-name">
                            <%= locals.errors && (errors.name && errors.name.msg) %>
                          </small>
                    </div>
                    <div class="profile__main__box__formbox--campobox">
                        <label for="lastName" class="form-label">Apellido</label>
                        <input class="form-control" type="text" name="lastName" id="lastName" value="<%= user.lastName %>">
                        <small class="text-danger ms-2" id="msgError-lastName">
                            <%= locals.errors && (errors.lastName && errors.lastName.msg) %>
                          </small>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label for="province" class="form-label">Provincia</label>
                        <select type="text" class="form-select" id="province" name="province">
                            <option value="" hidden>Seleccione...</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-6 mb-3">
                        <label for="city" class="form-label">Ciudad</label>
                        <select type="text" class="form-select" id="city" name="city">
                            <option value="" hidden>Seleccione...</option>
                        </select>
                    </div>
                   <!-- <div class="profile__main__box__formbox--campobox">
                        <label for="street">Calle</label>
                        <input class="profile__main__box__formbox--campo" type="text" name="street" id="street" placeholder="Domicilio" value="<%= user.address.street %>">
                    </div>-->
                    <div class="profile__main__box__formbox--campobox">
                        <label for="birthdate" class="form-label">Fecha de nacimiento</label>
                        <input class="form-control" type="date" name="birthdate" id="birthdate" value="<%= user.birthdate %>">
                        <small class="text-danger ms-2" id="msgError-birthday">
                            <%= locals.errors && (errors.birthday && errors.birthday.msg) %>
                        </small>
                    </div>
                    <div class="profile__main__box__formbox--buttonbox">
                        <a href="/">
                            <button class="profile__main__box__formbox--button" type="submit">Guardar cambios</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>
    <script src="/js/profile.js"></script>
</body>
</html>
