<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <%- include('partials/header') %>

    <main class="profile--main">
        <div class="profile__main--box">
            <div class="profile__main__box--title">
                <h2>Mi Perfil</h2>
            </div>
            <div class="profile__main__box--formbox">
                <form class="profile__main__box__formbox--formbox" action="/users/update?_method=PUT" method="post" enctype="multipart/form-data">

                    <div class="profile__main__box__formbox--image">
                        <img id="avatarProfile" width="100px" src="/images/productos/userImages/<%= avatar || "Andres.jpg" %>" alt="Imagen de perfil" data-bs-toggle="modal" data-bs-target="#exampleModal" style="cursor: pointer;">
                    </div>

                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel">Avatares</h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                    <% avatars.forEach(avatar => { %>                                        
                                            <img id="avatarModal" width="100px" src="/images/productos/userImages/<%= avatar.name %>" alt="Avatar" style="cursor: pointer; border-radius: 50%;" data-avatar="<%= avatar.name %>">                                        
                                    <% }); %>
                                    <input type="hidden" id="avatarInput" name="avatar" value="<%= avatar || "Andres.jpg" %>">
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            </div>
                          </div>
                        </div>
                      </div>

                    <div class="profile__main__box__formbox--form">
                    <div class="col-11 col-md-5 mb-2">
                        <label for="name" class="form-label">Nombre</label>
                        <input class="form-control" type="text" name="name" id="name" value="<%= name %>">
                        <small class="text-danger ms-2" id="msgError-name">
                            <%= locals.errors && (errors.name && errors.name.msg) %>
                          </small>
                    </div>
                    <div class="col-11 col-md-5 mb-2">
                        <label for="lastName" class="form-label">Apellido</label>
                        <input class="form-control" type="text" name="lastName" id="lastName" value="<%= lastName %>">
                        <small class="text-danger ms-2" id="msgError-lastName">
                            <%= locals.errors && (errors.lastName && errors.lastName.msg) %>
                          </small>
                    </div>
                    <div class="col-11 col-md-5 mb-2">
                        <label for="province" class="form-label">Provincia</label>
                        <select type="text" class="form-select" id="province" name="province">
                            <option value="" hidden>Seleccione...</option>
                            <% if (address.province) { %>
                                <option value="<%= address.province %>" selected><%= address.province %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="col-11 col-md-5 mb-2">
                        <label for="city" class="form-label">Ciudad</label>
                        <select type="text" class="form-select" id="city" name="city">
                            <option value="" hidden>Seleccione...</option>
                            <% if (address.city) { %>
                                <option value="<%= address.city %>" selected><%= address.city %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="col-11 col-md-5 mb-2">
                        <label class="form-label" for="street">Calle</label>
                        <input class="form-control" type="text" name="street" id="street" placeholder="Domicilio" value="<%= address.street %>">
                    </div>
                    <div class="col-11 col-md-5 mb-2">
                        <label for="birthdate" class="form-label">Fecha de nacimiento</label>
                        <input class="form-control" type="date" name="birthdate" id="birthdate" value="<%= birthdate %>">
                        <small class="text-danger ms-2" id="msgError-birthdate">
                            <%= locals.errors && (errors.birthdate && errors.birthdate.msg) %>
                        </small>
                    </div>
                    <div>
                        <button type="button" class="profile__main__box__formbox--button" data-bs-toggle="modal" data-bs-target="#MiexampleModalCenter">
                            Mis Productos
                        </button>
                        
                    </div>
                    <br>
                    
                    <div class="profile__main__box__formbox--buttonbox">
                        <a href="/">
                            <button class="profile__main__box__formbox--button" type="submit">Guardar cambios</button>
                        </a>
                        
                                           
                          <!-- Modal -->
                        <div class="modal fade" id="MiexampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">MIS PRODUCTOS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="table-responsive">
                <table class="table table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% locals.userProducts.forEach(product => { %>
                            <tr>
                                <td>
                                    <% const productImages = product.images || []; %>
                                    <% const firstImage = productImages[0]; %>
                                    <% if (firstImage) { %>
                                        <img src="/images/productos/<%= firstImage.name %>" alt="Imagen del Producto" style="width: 50px; height: 50px;">
                                    <% } else { %>
                                        <img src="/images/productos/default.png alt="Sin Imagen" style="width: 50px; height: 50px;">
                                    <% } %>
                                </td>
                                <td data-toggle="modal" data-target="#exampleModalCenter"><%= product.name %> </td>
       
                                <td><%= product.price %></td>
                                <td>
                                    <a href="/products/edit/<%= product.id %>" class="btn btn-outline-primary  btn-action btn-edit">
                                        <i class="fa-solid fa-pencil"></i> <!-- Icono de editar -->
                                    </a>
                                    <!-- <button type="button" class="btn btn-outline-primary" >
                                        <i class="fas fa-edit"></i> 
                                        
                                    </button> -->
                                    <button type="button" class="btn btn-outline-danger" onclick="abrirEliminarModal('<%= product.id %>')">
                                        <i class="fas fa-trash-alt"></i> <!-- Icono de eliminar -->
                                    </button>
                                </td>
                                
                                
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>

          </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">CERRAR</button>
            <a href="/products/add" class="btn btn-outline-primary">
                NUEVO PRODUCTO
            </a>
          </div>
      </div>
    </div>
                        </div>

                    </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

   
    
</body>
<%- include('partials/footer') %>


<%- include('partials/scripts') %>
<script src="/js/profile.js"></script>
</html>
