<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>

    <main class="register--main">
        <div class="register__main--box">
            <div class="register__main__box--title">
                <h2>Cre치 tu cuenta</h2>
            </div>
            <div class="register__main__box--formbox">
                <form class="register__main__box__formbox--form" action="/users/register" method="POST">
                    <div class="register__main__box__formbox--campobox">
                        <div class="form-box-reg">
                            <input class="register__main__box__formbox--campo" type="text" name="name" id="name" placeholder="Nombre" value="<%= locals.old && locals.old.name ? locals.old.name : '' %>">
                            <% if(locals.errors && locals.errors.name){ %>
                                <div class="text-danger">
                                    <%= locals.errors.name.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="register__main__box__formbox--campobox">
                        <div class="form-box-reg">
                            <input class="register__main__box__formbox--campo" type="text" name="lastName" id="lastName" placeholder="Apellido" value="<%= locals.old && locals.old.lastName ? locals.old.lastName : '' %>">
                            <div>
                                <% if(locals.errors && locals.errors.lastName){ %>
                                    <div class="text-danger">
                                        <%= locals.errors.lastName.msg %>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="register__main__box__formbox--campobox">
                        <div class="form-box-reg">
                            <input class="register__main__box__formbox--campo" type="text" name="address" id="address" placeholder="Domicilio" value="<%= locals.old && locals.old.address ? locals.old.address : '' %>">
                            <div>
                                <% if(locals.errors && locals.errors.address){ %>
                                    <div class="text-danger">
                                        <%= locals.errors.address.msg %>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="register__main__box__formbox--campobox">
                        <div class="form-box-reg">
                            <input class="register__main__box__formbox--campo" type="email" name="email" id="email" placeholder="Correo electr칩nico" value="<%= locals.old && locals.old.email ? locals.old.email : '' %>">
                            <% if(locals.errors && locals.errors.email){ %>
                                <div class="text-danger">
                                    <%= locals.errors.email.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="register__main__box__formbox--campobox">
                        <div class="form-box-reg">
                            <input class="register__main__box__formbox--campo" type="password" name="password" id="password" placeholder="Contrase침a">
                            <% if(locals.errors && locals.errors.password){ %>
                                <div class="text-danger">
                                    <%= locals.errors.password.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="register__main__box__formbox--campobox">
                        <div class="form-box-reg">
                            <input class="register__main__box__formbox--campo" type="password" name="passwordTwo" id="passwordTwo" placeholder="Repetir Contrase침a">
                            <% if(locals.errors && locals.errors.passwordTwo){ %>
                                <div class="text-danger">
                                    <%= locals.errors.passwordTwo.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <p class="title_reg">Fecha de Nacimiento</p>
                    <div class="register__main__box__formbox--campobox">
                        <div class="form-box-reg">
                            <input class="register__main__box__formbox--campo" type="date" name="birthdate" id="birthdate" placeholder="Fecha de Nacimiento">
                            <% if(locals.errors && locals.errors.birthdate){ %>
                                <div class="text-danger">
                                    <%= locals.errors.birthdate.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="register__main__box__formbox--buttonbox">
                        <button type="submit" class="register__main__box__formbox--button">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>

</body>
</html>
