<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
<body>
    <%- include('partials/header') %>
    
    <main class="register--main">
        <div class="register__main--box">
            <div class="register__main__box--title">
                <h2>Cre치 tu cuenta</h2>
            </div>
            <div class="register__main__box--formbox">
                <form class="register__main__box__formbox--form" action="/users/registerOk" method="POST">
                    <div class="register__main__box__formbox--campobox">
                        <div class="form-box-reg">
                            <input class="register__main__box__formbox--campo" type="text" name="name" id="name" placeholder="Nombre" value="<%= locals.old && old.name ? old.name : ''%>">
                            <% if(locals.errors && locals.errors.name){ %>
                                <div class="text-danger">
                                    <%= errors.name.msg %>
                                </div>
                            <% } %>  
                        </div>
                    </div>
                    <div class="register__main__box__formbox--campobox">                      
                        <div class="form-box-reg">
                            <input class="register__main__box__formbox--campo" type="text" name="lastName" id="lastName" placeholder="Apellido" value="<%= locals.old && old.lastName ? old.lastName : ''%>">
                            <div>
                                <% if(locals.errors && locals.errors.lastname){ %>
                                    <div class="text-danger">
                                        <%= errors.lastname.msg %>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                        
                    </div>
                    <div class="register__main__box__formbox--campobox">                      
                        <div class="form-box-reg">
                            <input class="register__main__box__formbox--campo" type="text" name="address" id="address" placeholder="Domicilio" value="<%= locals.old && old.address ? old.address : ''%>">
                            <div>
                                <% if(locals.errors && locals.errors.address){ %>
                                    <div class="text-danger">
                                        <%= errors.address.msg %>
                                    </div>
                                <% } %>
                            </div>
                        </div>
                        
                    </div>
                    <div class="register__main__box__formbox--campobox">
                        <div class="form-box-reg">
                            <input class="register__main__box__formbox--campo" type="email" name="email" id="email" placeholder="Correo electr칩nico" value="<%= locals.old && old.email ? old.email : ''%>">
                            <% if(locals.errors && locals.errors.email){ %>
                                <div class="text-danger">
                                    <%= errors.email.msg %>
                                </div>
                            <% } %>
                        </div>
                        
                    </div>
                    <div class="register__main__box__formbox--campobox">
                        <div class="form-box-reg">
                        <input class="register__main__box__formbox--campo" type="password" name="password" id="password" placeholder="Contrase침a" >
                        <% if(locals.errors && errors.password){ %>
                            <div class="text-danger">
                                <%= errors.password.msg %>
                            </div>
                        <% } %>
                    </div>
                    </div>
                    <div class="register__main__box__formbox--campobox">
                        <div class="form-box-reg">
                        <input class="register__main__box__formbox--campo" type="password" name="passwordTwo" id="passwordTwo" placeholder="Repetir Contrase침a" >
                        <% if(locals.errors && errors.passwordTwo){ %>
                            <div class="text-danger">
                                <%= errors.passwordTwo.msg %>
                            </div>
                        <% } %>
                    </div>
                    </div>
                    <p class="title_reg">Rol:</p>
                    <div class="register__main__box__formbox--campobox">
                        <div class="form-box-reg">
                            <select class="register__main__box__formbox--campo" type="text" name="role" id="role">
                                <option value="admin">Admin</option>
                                <option value="user">Usuario</option>
                            </select>
                            <% if(locals.errors && errors.role){ %>
                                <div class="text-danger">
                                    <%= errors.role.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <p class="title_reg">Fecha de Nacimiento</p>
                    <div class="register__main__box__formbox--campobox">
                        <div class="form-box-reg">
                            <input class="register__main__box__formbox--campo" type="date" name="birthdate" id="birthdate" placeholder="Fecha de Nacimiento">
                            <% if(locals.errors && errors.birthdate){ %>
                                <div class="text-danger">
                                    <%= errors.birthdate.msg %>
                                </div>
                            <% } %>
                        </div>
                    </div>
                    <div class="register__main__box__formbox--buttonbox">
                        <button type="submit" class="register__main__box__formbox--button">Crear</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <%- include('partials/footer') %>
    
</body>
</html>
