<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <body class="detalle">
    <%- include('partials/header') %>

    <main class="detalle__main">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8 mx-auto mt-5">
          <div class="caja card mb-3 shadow-lg">
            <div class="card-header">Registro de usuario</div>
            <div class="card-body">
              <form
                action="/users/registerOk"
                method="POST"
                class="row"
                id="formAdd"
              >
                <div class="col-12 mb-3">
                  <label for="name" class="form-label">Nombre</label>
                  <input
                    type="text"
                    class="form-control <%= locals.errors && (errors.name && 'is-invalid') %>"
                    id="name"
                    placeholder="Tu nombre"
                    name="name"
                  />
                  <small class="text-danger ms-2" id="msgError-name">
                    <%= locals.errors && (errors.name && errors.name.msg) %>
                  </small>
                </div>
                <div class="col-12 mb-3">
                  <label for="lastName" class="form-label">Apellido</label>
                  <input
                    type="text"
                    class="form-control <%= locals.errors && (errors.lastName && 'is-invalid') %>"
                    id="lastName"
                    placeholder="Tu apellido"
                    name="lastName"
                  />
                  <small class="text-danger ms-2" id="msgError-lastName">
                    <%= locals.errors && (errors.lastName &&
                    errors.lastName.msg) %>
                  </small>
                </div>
                <div class="col-12 mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    class="form-control <%= locals.errors && (errors.email && 'is-invalid') %>"
                    id="email"
                    placeholder="Tu email"
                    name="email"
                  />
                  <small class="text-danger ms-2" id="msgError-email">
                    <%= locals.errors && (errors.email && errors.email.msg) %>
                  </small>
                </div>
                <div class="col-12 mb-3">
                  <label for="password" class="form-label">Contraseña</label>
                  <div class="input-group mb-3">
                    <input
                      type="password"
                      class="form-control input-group-text <%= locals.errors && (errors.password && 'is-invalid') %>"
                      id="password"
                      placeholder="Tu contraseña"
                      name="password"
                    />
                    <span class="input-group-text"
                      ><i id="button-eye" class="fa fa-eye"></i
                    ></span>
                  </div>
                  <small class="text-danger ms-2" id="msgError-password">
                    <%= locals.errors && (errors.password &&
                    errors.password.msg) %>
                  </small>
                </div>
              
                <div class="col-12 mb-3">
                  <small class="text-danger ms-2" id="msgError-empty"></small>
                </div>
                <!-- ... Resto del formulario ... -->
                <div class="col-12 mb-3">
                  <label for="province" class="form-label">Provincia</label>
                  <select class="form-select" id="province" name="province">
                    <option value="" hidden selected>
                      Elije tu provincia...
                    </option>
                  </select>
                  <small
                    class="text-danger ms-2"
                    id="msgError-province"
                  ></small>
                </div>

                <div class="col-12 mb-3">
                  <label for="city" class="form-label">Ciudad</label>
                  <select class="form-select" id="city" name="city">
                    <option value="" hidden selected>Elije tu ciudad...</option>
                  </select>
                  <small class="text-danger ms-2" id="msgError-city"></small>
                </div>
                <div class="d-flex justify-content-end">
                  <button type="submit" class="btn btn-dark">Registrate</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script src="/js/apiLocation.js"></script> 
    <script src="/js/register.js"></script>
    <%- include('partials/footer') %> <%- include('partials/scripts') %>
  </body>
</html>
